<div class="contact-wrapper">
  <!-- Navigation -->
  <div class="menu-container" id="menu-bars-contact" (click)="ToggleContact()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <nav class="nav" id="nav-contact">
    <ul class="nav-items" (click)="ToggleContact()">
      <li class="no-margin-left-list"><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">Our Story</a></li>
      <li><a routerLink="/beer" routerLinkActive="active">Our Beer</a></li>
      <li><a routerLink="/social" routerLinkActive="active">On Tap</a></li>
      <li><a routerLink="/events" routerLinkActive="active">Events</a></li>
    </ul>
  </nav>
  
<!-- Wrapper -->
</div>