.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 1%;
}

.falcon-logo {
  width: 40%;
  margin: auto;
}

.falcon-text {
  width: 40%;
  margin: auto;
  margin-top: 1%;
}

.red {
  color: #C0182A;
}

/* Social Icons */
.social-icons {
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 2%;
  justify-content: center;
}
.icons {
  display: block;
  position: relative;
  flex-direction: row;
  margin-left: 25px;
}
.circle {
  font-size: 3.5rem;
  transition: .5s ease-in-out;
}
/* .circle:hover {
  color: darkgray;
  transform: scale(0.95);
  transition: .5s ease-in-out;
} */
.icons:hover {
  transform: scale(0.95);
  transition: .5s ease-in-out;
}
.no-margin-left {
  margin-left: -2vw !important;
}
.social-icon {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Circles */
.circles-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

.big-circle {
  height: 15rem;
  width: 15rem;
  background-color: black;
  border-radius: 50%;
}

.left-circle {
  margin-right: .5rem;
}

.center-circle {
  margin-left: .5rem;
  margin-right: .5rem;
}

.right-circle {
  margin-left: .5rem;
}

.circle-content {
  display: block;
  position: relative;
}

.circle-text {
  color: white;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 170%);
}