/* Navigation */
a {
  text-decoration: none;
}
.nav {
  position: relative;
  top: 28px;
}
.nav-expand {
  display: none;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
.nav-items li {
  text-transform: uppercase;
  font-family: 'Segoe UI', sans-serif;
  margin-left: 10px;
  cursor: pointer;
  z-index: 10;
}
.nav a {
  color: white;
  padding: 10px 14px;
  background-color: rgba(0,0,0,.5);
}
.nav a:hover {
  color: rgba(0, 0, 0, 0.85);
  background-color: #fbfbfb;
}
.no-margin-left-list {
  margin-left: -35px !important;
}
.nav-items li:hover {
  color: rgba(0, 0, 0, 0.85);
  background-color: #fbfbfb;
}
.nav-items li:active {
  color: rgba(0, 0, 0, 0.85);
  background-color: #fbfbfb;
}
#menu-bars {
  display: none;
}
.desktop-none {
  display: none;
}
/* ---------- Media Queries ------------ */

/* iPad - Horizontal */
@media screen and (max-width: 1025px) {
  /* Navigation */
  #menu-bars { display: initial; }
  .desktop-none { display: initial; }
  .nav { 
    top: -300px; 
    left: -15px; 
    width: 100%; 
    transition: 0.75s ease; 
  }
  .nav-expand { 
    top: 40px !important; 
    display: initial; 
    transition: 0.3s ease; 
  }
  .nav-items { 
    flex-direction: column; 
    margin-left: -45px; 
    margin-top: 0px; 
    text-align: center;
  }
  .nav-items li {
    padding: 10px 14px;
    background-color: rgba(0,0,0,.85);
    width: 98.5%;
  }
  .nav a {
    padding: 0;
    background-color: rgba(0,0,0,0);
  }
  .nav a:active {
    padding: 0;
    color: black;
  }
  .no-margin-left-list { margin-left: 10px !important; padding-top: 15px !important; }

  /* Hamburger Menu */
  .menu-container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 12;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgba(255, 255, 255, 1);
    margin: 6px 0;
    transition: 0.4s;
    z-index: 30;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  }
  .change .bar1 {
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg) translate(-9px, 6px);
    box-shadow: none;
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg) translate(-8px, -8px);
    box-shadow: none;
  }
}

/* iPad */
@media screen and (max-width: 769px) {
  .nav-items li { width: 98%; }
}

/* Galaxy */
@media screen and (max-width: 600px) {
  .nav-items li { width: 96.25%; }
  .nav { position: fixed; z-index: 20; }
  .nav-expand { top: 49px !important; }
  .beer-info { margin: auto 15px; }
}

/* Galaxy - Horizontal */
@media screen and (max-width: 850px) and (max-height: 500px) {
  .nav-items li { width: 98.25%; }
}

/* iPhone X */
@media screen and (max-width: 376px) {
  .nav-items li { width: 96%; }
}

/* Galaxy - Horizontal */
@media screen and (max-width: 850px) and (height: 375px) {
  .nav-items li { width: 98%; }
}

/* iPhone 6/7/8 - Horizontal */
@media screen and (max-width: 668px) and (max-height: 376px) {
  .nav-items li { width: 97.5%; }
}
