.social-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(66, 43, 43);
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Standard */
section {
  margin-top: 50px;
}

a {
  color: white;
}

a:hover {
  color: #BF1E2E;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.page-title {
  top: -10px;
  position: absolute;
}

.right { 
  right: 20px;
  cursor: pointer;
}

.content-group {
  display: flex;
  flex-direction: row;
}

.beer-list {
  margin-top: 22vh;
  width: 220px;
}

.beer-title { 
  font-size: 1.5rem;
  background-color: rgba(0,0,0,.5);
  padding: 20px;
  width: 250px;
  cursor: pointer;
  transition: .1s ease;
}

.beer-title:hover {
  background-color: rgba(255,255,255,.85);
  color: #BF1E2E;
  text-shadow: none;
  transition: .2s ease;
}

.main {
  background-color: rgba(0,0,0,1);
  color: white;
  padding: 100px 25px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.2rem;
}

.main-width { 
  width: 20vw;
}

.main-width-2 {
  width: 13vw;
}

.main-width-3 {
  width: 25vw;
  padding: 25px;
  background-color: rgba(0,0,0,.85);
}

.menu-group {
  margin-top: -20px;
  margin-left: 34px;
  display: flex;
  flex-direction: row;
}

.menu-2 {
  margin-left: 20px;
}

.float-right {
  float: right;
  font-weight: bold;
}

.image-group {
  display: flex;
  align-items: center;
  margin-left: 140px;
  margin-top: 1vh;
}

.image-group-2 {
  display: flex;
  align-items: center;
  margin-left: 397px;
  margin-top: 1vh;
}

img {
  height: 82vh;
}

.image {
  border: 5px solid rgba(0, 0, 0, 0.85);
  padding: 5px;
}

.image-grid {
  border: 5px solid rgba(0, 0, 0, 0.85);
  padding: 2.5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.grid-img {
  height: 40vh;
  padding: 2.5px;
}

.beer-subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.beer-caption {
  font-weight: bold;
}

.no-show {
  display: none;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  padding: 20px;
  border: 10px solid rgba(255, 255, 255, 0.85);
  margin: 10px;
}

/* Shapes */
.shape {
  border: 10px solid #BF1E2E;
  position: absolute;
  z-index: -1;
}

.shape-1 {
  top: 50px;
  left: 250px;
  width: 260px;
  height: 710px;
}

.shape-2 {
  top: 216px;
  right: 220px;
  width: 400px;
  height: 500px;
  border: 10px dashed #BF1E2E;
}

.shape-3 {
  top: 217px;
  right: 396px;
  width: 500px;
  height: 480px;
}

.shape-4 {
  top: 100px;
  left: 480px;
  width: 260px;
  height: 710px;
  border: 10px dashed #BF1E2E;
}

.shape-5 {
  top: 217px;
  right: 180px;
  width: 200px;
  height: 480px;
  border: 10px dashed #BF1E2E;
}

.shape-6 {
  top: 125px;
  right: 200px;
  width: 295px;
  height: 600px;
  border: 10px dashed #BF1E2E;
}

.show-mobile {
  display: none;
}

.show-desktop {
  display: initial;
}

/* ---------- Media Queries ------------ */

/* Monitor - No Bookmarks Bar */
@media screen and (min-width: 1800px) and (min-height: 938px) {
  .image-group { margin-left: 103px; }
  .main-width { width: 18vw; }
  .shape-2 { top: 239px; }
  .shape-3 { top: 237px; }
  .shape-4 { top: 70px; }
  .shape-5 { top: 225px; }
  .shape-6 { right: 235px; top: 135px; }
  section { margin-top: 60px; }
}

/* Monitor - Fullscreen */
@media screen and (min-width: 1800px) and (min-height: 1000px) {
  section { margin-top: 95px; }
  img { height: 75vh; }
  .grid-img { height: 36vh; }
  .shape-2 { top: 283px; }
  .shape-3 { top: 280px; right: 375px; }
  .shape-5 { top: 262px; }
  .shape-6 { top: 175px; }
}

/* Laptop - Bookmarks Bar */
@media screen and (max-width: 1800px) {
  .beer-list {
    margin-top: 17vh;
  }
  .beer-title {
    font-size: 1.25rem;
    padding: 15px;
  }
  .image-group {
    margin-left: 130px;
    margin-top: 0;
  }
  img {
    height: 80vh;
  }
  .main {
    padding: 50px 25px;
    font-size: 1.15rem;
  }
  .main-width {
    width: 17vw;
  }
  .shape-1 {
    top: 40px;
    width: 185px;
    height: 570px;
  }
  .shape-2 {
    top: 175px;
    right: 180px;
    width: 600px;
    height: 403px;
  }
  .beer-image { 
    margin-left: 161px;
    margin-top: 20px;
  }
  .grid-img {
    height: 39vh;
  }
  .image-grid {
    margin-top: 7px;
    margin-left: -20px;
  }
  .shape-5 {
    top: 200px;
    right: 129px;
    width: 200px;
    height: 345px;
  }
  .shape-4 {
    top: 80px;
    left: 384px;
    width: 260px;
    height: 570px;
  }
  .shape-3 {
    top: 185px;
    right: 370px;
    width: 340px;
    height: 390px;
  }
  .beer-cans {
    margin-left: -107px;
    margin-top: 10px;
  }
  .menu-group {
    margin-top: 0;
    margin-left: -30px;
  }
  .menu {
    padding: 15px 25px;
    font-size: 1rem;
  }
  .main-width-3 {
    width: 28vw;
  }
  .menu-bottom {
    padding-bottom: 25px;
  }
  .shape-6 {
    top: 130px;
    right: 92px;
    width: 260px;
    height: 494px;
    border: 10px dashed #BF1E2E;
  }
}

/* Laptop - No Bookmarks Bar */
@media screen and (min-width: 1300px) and (max-width: 1799px) and (min-height: 760px) {
  section { margin-top: 55px; }
  .image-group { margin-left: 105px; }
  .grid-img { height: 38vh; }
  .beer-list { margin-top: 20vh; }
  .shape-2 { top: 192px; right: 184px; }
  .shape-3 { top: 200px; }
  .shape-4 { top: 70px; }
  .shape-5 { top: 209px; right: 139px; }
  .shape-6 { top: 133px; right: 65px; }
}

/* Laptop - Fullscreen */
@media screen and (min-width: 1300px) and (max-width: 1799px) and (min-height: 800px) {
  section { margin-top: 100px; }
  img { height: 73vh; }
  .grid-img { height: 34vh; }
  .tap-group { margin-left: 86px; }
  .tap-width { width: 15vw; }
  .main-width-2 { width: 11.6vw; }
  .shape-1 { top: 85px; }
  .shape-2 { top: 231px; right: 168px; height: 440px; }
  .shape-3 { top: 257px; right: 335px; }
  .shape-4 { top: 112px; height: 600px; }
  .shape-5 { top: 260px; right: 150px; }
  .shape-6 { top: 175px; }
}

/* iPad - Horizontal */
@media screen and (min-width: 900px) and (max-width: 1025px) {
  section { margin-top: 30px; }
  img { height: 68.5vh; }
  article { 
    margin: 0; 
    padding: 10px; 
    border: 0px solid rgba(255, 255, 255, 0.85); 
    min-height: 100vh;
    height: fit-content;
  }
  .page-title { 
    top: -30px; 
    position: fixed; 
    z-index: 10; 
    left: 0px;   
    background-color: rgba(233, 12, 34, 0.85);
    padding: 10px 10px 5.1px 60px;
    position: fixed;
    width: 100%;
  }
  .image-group { 
    flex-direction: column;
    margin-left: 450px; 
    position: absolute;
    top: 110px;
    padding-right: 10px;
    z-index: -1;
  }
  .beer-list {
    display: flex; 
    flex-direction: row;
    width: 100%; 
    margin-top: 10px; 
  }
  .beer-title {
    margin-right: 10px; 
  }
  .show-mobile { display: none; }
  .menu-group { margin-left: -450px; margin-top: 30px; }
  .menu { font-size: .9rem; }
  .main-width { width: 89.5vw; }
  .main-width-3 { width: 42.72vw }
  .shape-1 { display: none; }
  .shape-6 { top: 390px; width: 500px; height: 223px; right: 75px; }
  .image-group-2 { position: absolute; top: 240px; left: 100px; margin-left: 345px; }
  .beer-cans img { height: 79vh; }
  .beer-cans { margin-left: -247px; margin-top: -91px; }
  .image-grid { margin-left: -449px; margin-top: 45px;  }
  .grid-img { height: 30vh; }
  .main-width-2 { width: 20vw; margin-left: 0px; padding-left: 20px; }
  .shape-5 { height: 390px; width: 600px; }
  .tap-group { margin-left: 0px; margin-top: 45px; flex-direction: row; }
  .shape-2 { display: none; }
  .shape-3 { height: 372px; top: 50px; width: 500px; }
  .shape-4 { display: none; }
  .can-font { width: 26vw; }
  .bottle-group { flex-direction: row; }
  .tap-width { width: 21.5vw; }
}

/* iPad */
@media screen and (max-width: 769px) {
  .show-desktop { display: initial; }
  img { height: 52.5vh; }
  article { 
    margin: 0; 
    padding: 10px; 
    border: 0px solid rgba(255, 255, 255, 0.85); 
    min-height: 100vh;
    height: fit-content;
  }
  .page-title { 
    top: -30px; 
    position: fixed; 
    z-index: 10; 
    left: 0px;   
    background-color: rgba(233, 12, 34, 0.85);
    padding: 10px 10px 5.1px 60px;
    position: fixed;
    width: 100%;
  }
  .image-group { 
    flex-direction: column;
    margin-left: 450px; 
    position: absolute;
    top: 110px;
    padding-right: 10px;
    z-index: -1;
  }
  .beer-list {
    display: flex; 
    flex-direction: row;
    width: 100%; 
    margin-top: -10px; 
  }
  .beer-title {
    margin-right: 10px; 
  }
  .show-mobile { display: none; }
  .menu-group { margin-left: -450px; margin-top: 30px; }
  .menu { font-size: .9rem; }
  .main-width { width: 89.5vw; }
  .main-width-3 { width: 40.25vw; }
  .shape-1 { display: none; }
  .shape-6 { top: 390px; width: 500px; height: 400px; right: 75px; }
  .image-group-2 { position: absolute; top: 240px; left: 100px; margin-left: 345px; }
  .beer-cans img { height: 59vh; }
  .beer-cans { margin-left: -404px; }
  .image-grid { margin-left: -449px; margin-top: 45px;  }
  .grid-img { height: 22.86vh; }
  .main-width-2 { width: 90vw; margin-left: -453px; padding-left: 20px; }
  .shape-5 { height: 642px; }
  .tap-group { margin-left: 0px; margin-top: 45px; }
  .shape-2 { display: none; }
  .shape-3 { height: 490px; }
  .shape-4 { display: none; }
  .can-font { width: 23vw; }
}

/* Galaxy */
@media screen and (max-width: 600px) {
  section { margin-top: 55px; }
  .content-group { display: block; }
  .main { margin-top: 5px; font-size: 1rem; margin-bottom: 10px; padding: 25px; }
  .main-width { width: auto; }
  .main-width-2 { width: auto; margin-bottom: 20px; }
  .main-width-3 { width: auto; }
  .mobile-margin-bottom { margin-bottom: 0; }
  .desktop-img { display: none; }
  .mobile-img { display: initial; }
  img { width: 95%; height: auto; }
  .image { width: 95%; }
  .image-grid { display: flex; margin-left: unset; }
  .grid-img { height: auto; width: 97%; }
  .row { flex-direction: column; }
  .shape-1 { display: none; }
  .shape-3 { display: none; }
  .shape-4 { display: none; }
  .shape-5 { display: none; }
  .shape-6 { display: none; }
  .show-desktop { display: none; }
  .show-mobile { display: initial; }
  .page-title { top: -30px; position: fixed; z-index: 10; }
  .beer-list { width: auto; left: unset; top: 0; position: relative; transition: .3s ease; }
  .beer-list-hide { left: -600px !important; transition: .3s ease; }
  .beer-list-mobile { margin-top: -5px; display: flex; flex-direction: row; }
  .beer-title { 
    width: 92.5%; 
    margin: 0; 
    background-color: rgba(0, 0, 0, 0.85); 
    padding: 12px 15px; 
  }
  .title-alt {
    background-color: rgba(255,255,255,.85);
    color: #BF1E2E;
    text-shadow: none;
  }
   .title-alt:hover {
    text-decoration: underline;
    transition: .2s ease;
  }
   .icon { 
    height: 15px; 
    color: black; 
    position: relative; 
    left: -30px; 
    margin-right: -30px;
    font-size: 2rem; 
  }
  h1 { 
    top: -30px; 
    left: 0px;   
    background-color: rgba(233, 12, 34, 0.85);
    padding: 10px 10px 5.1px 60px;
    width: 100%;
  }
  article { 
    margin: 0; 
    padding: 10px; 
    border: 0; 
    min-height: 97vh;
    height: fit-content;
  }
  .image-group { 
    flex-direction: column; 
    margin-left: 0; 
    position: absolute;
    top: 125px;
    padding-right: 10px;
    z-index: -1;
  }
  .image-group-2 { flex-direction: column; margin-left: unset; }
  .beer-cans { margin-left: unset; margin-top: -170px; }
  .bottle-group { top: 117.5px; }
  .menu-group { margin-left: unset; flex-direction: column; }
  .menu-2 { margin-left: unset; }
}

/* Galaxy - Horizontal */
@media screen and (max-width: 850px) and (max-height: 500px) {
  .shape-1 { display: none; }
  .shape-2 { right: 32px; top: 41px; width: 555px; }
  .shape-3 { display: none; }
  .shape-4 { display: none; }
  .shape-5 { height: 403px; right: -22px; top: 41px; width: 555px; }
  .shape-6 { display: none; }
  h1 { 
    left: 0px;   
    background-color: rgba(233, 12, 34, 0.85);
    padding: 10px 10px 5.1px 60px;
    position: fixed;
    width: 100%;
  }
  article { 
    margin: 0; 
    padding: 10px; 
    border: 0px solid rgba(255, 255, 255, 0.85); 
    min-height: 100vh;
    height: fit-content;
  }
  img { height: 86vh; width: auto; }
  .image-group { 
    flex-direction: column; 
    margin-left: 200px; 
    position: absolute;
    top: 67px;
    padding-right: 10px;
    z-index: -1;
  }
  .image-group-2 { margin-left: 334px; margin-top: 10vh; }

  .bottle-group { margin-left: 265px; }
  .main { width: 72%; font-size: 1rem; padding: 25px; }
  .main-width-2 { width: 67%; padding: 25px 97px; margin-left: -20px; margin-top: 20px; }
  .page-title { top: -30px; position: fixed; z-index: 10; }
  .beer-info { display: flex; justify-content: center; margin-top: -15px; }
  .beer-list { position: absolute; top: 50px; left: 15px; display: flex; flex-direction: column; }
  .beer-title { width: 67%; position: relative; left: unset; padding: 15px; font-size: 1.1rem; margin-bottom: 0; }
  .in-stores { margin-top: 0; }
  .main-width-3 { width: 78%; font-size: .9rem; margin-left: 55px; }
  .width-4 { width: 80.5%; margin-left: 35px; }
  .menu-group { display: initial; flex-direction: unset; }
}

/* Pixel 2XL - Horizontal */
@media screen and (max-width: 825px) and (max-height: 500px) {
  .shape-5 { right: -10px; }
  .main-width-2 { padding: 25px 94px; }
  img { height: 85vh; }
}

/* iPhone X - Horizontal*/
@media screen and (max-width: 815px) and (max-height: 376px) {
  .shape-5 { right: -7px; }
  img { height: 91.25vh; }
  .main-width-2 { padding: 25px 90px; }
  .grid-img { height: 42vh; }
}

/* iPhone 6/7/8 */
@media screen and (max-width: 376px) and (max-height: 668px) {

}

/* iPhone 6/7/8 - Horizontal */
@media screen and (max-width: 668px) and (max-height: 376px) {
  img { height: 81vh; }
  .image { margin-left: -34px; }
  .tap-width { width: 84%; margin-left: -33px; }
  .grid-img { height: 35vh; }
  .image-grid { margin-left: -71px; }
  .main-width-2 { padding: 25px 50px; width: 96%; margin-left: -72px; }
  .shape-5 { height: 367px; }
  .shape-2 { right: 17px; }
  .menu-group { margin-left: -56px; }
  .image-group-2 { margin-top: 15vh; }
  .can-font { font-size: .9rem; }
  .can-title { font-size: 1rem; }
}