<div class="social-wrapper">

  <article>
    <h1 class="page-title">On Tap</h1>
    <section>
      <div class="content-group">
        <!-- Beer Titles -->
        <div class="beer-list">
          <h1 class="beer-title" (click)="showCard1()">On Tap</h1>
          <h1 class="beer-title" (click)="showCard2()">Bottle Shop</h1>
          <h1 class="beer-title" (click)="showCard3()">In Stores</h1>
          <h1 class="beer-title" (click)="showCard4()">Menu</h1>
        </div>
        <!-- On Tap -->
        <div class="image-group" id="card-1">
          <div>
            <img class="image" src="../../../assets/img/falcon-brewing-23.jpg" alt="">
          </div>
          <div class="shape shape-1"></div>
          <div class="shape shape-2"></div>
          <div class="beer-info">
            <p class="main main-width">
              <span class="beer-subtitle">
                On Tap
              </span><br><br>
              This is what you'll find on tap at our Ajax location. We are constantly changing which brews we have on tap, including working on all new recipes.
              <br><br>
              <span class="beer-caption">
                Last Updated: March 20, 2019
              </span>
            </p>
          </div>
        </div>
        <!-- Bottle Shop -->
        <div class="image-group no-show" id="card-2">
          <div class="image-grid">
            <div class="row">
              <img src="../../../assets/img/falcon-brewing-33.jpg" alt="" class="grid-img">
              <img src="../../../assets/img/falcon-brewing-34.jpg" alt="" class="grid-img">
              <img src="../../../assets/img/falcon-brewing-35.jpg" alt="" class="grid-img">
              <img src="../../../assets/img/falcon-brewing-36.jpg" alt="" class="grid-img">
            </div>
            <div class="row">
              <img src="../../../assets/img/falcon-brewing-37.jpg" alt="" class="grid-img">
              <img src="../../../assets/img/falcon-brewing-38.jpg" alt="" class="grid-img">
              <img src="../../../assets/img/falcon-brewing-39.jpg" alt="" class="grid-img">
              <img src="../../../assets/img/falcon-brewing-40.jpg" alt="" class="grid-img">
            </div>
          </div>
          <div class="shape shape-1"></div>
          <div class="shape shape-5"></div>
          <div class="beer-info">
            <p class="main main-width-2">
              <span class="beer-subtitle">
                Bottle Shop
              </span><br><br>
              Take home these beers in 22oz/650ml bottles. 
              <br><br>
              <span class="beer-caption">
                $6.50
              </span>
            </p>
          </div>

        </div>
        <!-- In Stores -->
        <div class="image-group-2 no-show" id="card-3">
          <div class="beer-image beer-cans">
            <img src="../../../assets/img/falcon-cans.png" alt="">
          </div>
          <div class="shape shape-4"></div>
          <div class="shape shape-3"></div>
          <div class="beer-info">
            <p class="main main-width">
              <span class="beer-subtitle">
                In Stores
              </span><br><br>
              You can purchase cans of Falcon Ale and Falcon Lager at LCBOs, Beer Stores, and grocery stores in Southern Ontario. 
              <br><br>
            </p>
          </div>
        </div>
        <!-- Menu -->
        <div class="image-group no-show" id="card-4">
          <div class="menu-group">
            <div class="menu-1">
              <p class="main menu main-width-3">
                <span class="beer-subtitle">Food</span><br><br>
                <strong>Soft Pretzel</strong><span class="float-right">$2.00</span><br>
                Baked at Montmartre Bakery in Scarborough.<br><br>
                <strong>Samosas</strong><span class="float-right">$2.50</span><br>
                Three Indian patties with vegetable filling.<br><br>
                <strong>Steak & Red Falcon Ale</strong><span class="float-right">$8.50</span><br>
                Chunks of steak in a Red Falcon Ale gravy, served with potato chips or coleslaw. <br><br>
                <strong>Smoked Pulled Pork Sandwich</strong><span class="float-right">$7.50</span><br>
                Made with Red Falcon Ale BBQ sauce on a soft Ciabatta bun, with potato chips or coleslaw. <br><br>
                <strong>Falcon Lager Bierwurst Sausage</strong><span class="float-right">$7.50</span><br>
                Traditional German bierwurst, marinated in Falcon Lager, then smoked, and served on a roll with potato chips or coleslaw. <br><br>
                <strong>Cheese Platter</strong><span class="float-right">$12.50</span><br>
                Three cheeses from Country Cheese in Ajax. Includes Red Falcon biercheese made by Empire Dairy. Served with crackers.  <br><br>
                <strong>Peanuts</strong><span class="float-right">$1.00</span><br>
                <strong>Potato Chips</strong><span class="float-right">$1.00</span>
              </p>
            </div>
            <div class="menu-2">
                <p class="main menu menu-bottom main-width-3">
                  <span class="beer-subtitle">Drinks</span><br><br>
                  <strong>Draft Beer - </strong> (12oz/355ml)<span class="float-right">$4.75</span><br>
                  <strong>Tasting Flight - </strong> (4 Sample Glasses)<span class="float-right">$6.50</span><br>
                  <strong>Take Out Bottles - </strong> (22oz/650ml)<span class="float-right">$6.50</span><br>
                  <strong>Unique Bottles - </strong> (11oz/330ml)<span class="float-right">$3.25</span><br>
                  <strong>Unique Bottles - </strong> (6 Pack)<span class="float-right">$18.00</span><br>
                  <strong>Radler - </strong> (12oz/355ml)<span class="float-right">$5.50</span><br>
                  <strong>Shandy - </strong> (12oz/355ml)<span class="float-right">$5.50</span><br>
                  <strong>Lager & Lime - </strong> (12oz/355ml)<span class="float-right">$5.50</span><br>
                  <strong>Black Velvet - </strong> (12oz/355ml)<span class="float-right">$5.50</span><br>
                  <strong>Growlers* - </strong> (67.6oz/2L)<span class="float-right">$13.50</span><br>
                  <strong>Cider - </strong> (12oz/355ml)<span class="float-right">$5.50</span><br>
                  <strong>Red Wine | White Wine - </strong> (6oz/180ml)<span class="float-right">$6.00</span><br>
                  <strong>Soda Pop - </strong> (12oz/355ml)<span class="float-right">$1.50</span><br>
                  <strong>20L Keg</strong><span class="float-right">$84.00</span><br>
                  <strong>30L Keg</strong><span class="float-right">$126.00</span><br><br>
                  <span class="beer-subtitle">Take Home</span><br><br>
                  <strong>Steak and Ale Pie</strong><span class="float-right">$6.00</span><br>
                  <strong>Bierwurst</strong> (4)<span class="float-right">$8.00</span><br>
                  <strong>Biercheese</strong><span class="float-right">$7.50</span><br><br>
                  <span>* Growlers require a $10 Bottle Deposit</span>
                </p>
              </div>
          </div>
          <div class="shape shape-1"></div>
          <div class="shape shape-6"></div>
        </div>
        <!-- Content Group  -->
      </div>
    </section>
  </article>
  
<!-- Wrapper -->
</div>