<div class="wrapper">
  <section id="home">

    <!-- Navigation -->
    <div class="menu-container" id="menu-bars" (click)="Toggle()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <nav class="nav" id="nav">
      <ul class="nav-items" (click)="Toggle()">
        <li class="no-margin-left-list"><a routerLink="/about" routerLinkActive="active">Our Story</a></li>
        <li><a routerLink="/beer" routerLinkActive="active">Our Beer</a></li>
        <li><a routerLink="/social" routerLinkActive="active">On Tap</a></li>
        <li><a routerLink="/events" routerLinkActive="active">Events</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>

    <router-outlet></router-outlet>

    <!-- Video Background -->
    <article></article>
      <video playsinline autoplay muted loop id="video-background">
        <source src="../assets/img/drinks.mp4" type="video/mp4" />
      </video>
      <div class="video-overlay"></div>

    <!-- Falcon Logo -->
    <div class="logo">
      <img src="../assets/img/falcon-logo.png" alt="Falcon Brewery Logo" class="falcon-logo">
      <img src="../assets/img/falcon-text.png" alt="Falcon Brewery" class="falcon-text">
    </div>

    <!-- Social Icons -->
    <ul class="social-icons">
      <li class="icons no-margin-left">
        <a href="https://instagram.com/falconbrewing/" target="_blank" rel="noopener" title="Instagram">
          <fa-icon [icon]="['fab', 'instagram']" class="red"></fa-icon>
        </a>
      </li>
      <li class="icons">
        <a href="https://www.facebook.com/falconbrewingco/" target="_blank" rel="noopener" title="Facebook">
          <fa-icon [icon]="['fab', 'facebook-f']" class="red"></fa-icon>
        </a>
      </li>
      <li class="icons">
        <a href="https://twitter.com/falconbrewingco/" target="_blank" rel="noopener" title="Twitter">
          <fa-icon [icon]="['fab', 'twitter']" class="red"></fa-icon>
        </a>
      </li>
    </ul>

  </section>
</div>
