.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.section {
  min-height: 100vh;
}
/* ---------- Home ------------ */

/* Video Background */
#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -2;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.85);
  margin: 10px;
}

/* Falcon Logo */
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 20vh;
}
.falcon-logo {
  width: 40%;
  margin: auto;
}
.falcon-text {
  width: 40%;
  margin: auto;
  margin-top: 1%;
}

/* Social Icons */
.social-icons {
  display: flex;
  position: relative;
  justify-content: center;
  top: 0;
  z-index: -1;
}
.icons {
  display: block;
  position: relative;
  flex-direction: row;
  margin-left: 70px;
  font-size: 2.5rem;
}
.no-margin-left {
  margin-left: 0 !important;
}
.red {
  color: #C0182A;
}
.red:hover {
  color: rgb(224, 224, 224);
}

/* ---------- Media Queries ------------ */

/* Galaxy */
@media screen and (max-width: 600px) {
  /* Falcon Logo */
  .logo { margin-top: 5vh; }
  .falcon-logo { width: 90%; }
  .falcon-text { width: 90%; margin-top: 2%; }
  article { margin: 15px; border-width: 5px; }

  /* Social Icons */
  .social-icons { top: -10px}
  .icons { margin-left: 25px; font-size: 2rem; } 
  .no-margin-left { margin-left: -4vw !important; }
}