<div class="events-wrapper">

  <article>
    <h1 class="page-title">Events</h1>
    <section>
      <div class="content-group">
        <!-- Beer Titles -->
        <div class="beer-list show-desktop">
          <h1 class="beer-title" (click)="showCard1()">News</h1>
          <h1 class="beer-title" (click)="showCard2()">Events</h1>
          <h1 class="beer-title" (click)="showCard3()">Live Music</h1>
          <h1 class="beer-title" (click)="showCard4()">Contests</h1>
        </div>
        <!-- Beer Titles - Mobile -->
        <div class="beer-list-mobile show-mobile" (click)="toggleBeerList()">
          <h1 class="beer-title title-alt" style="padding: 15px;">News & Events</h1>
          <fa-icon [icon]="['fas', 'sort-down']" class="icon"></fa-icon>
        </div>
        <div class="beer-list show-mobile beer-list-hide" id="mobile-beer-menu">
          <h1 class="beer-title" (click)="showCard1()">News</h1>
          <h1 class="beer-title" (click)="showCard2()">Events</h1>
          <h1 class="beer-title" (click)="showCard3()">Live Music</h1>
          <h1 class="beer-title" (click)="showCard4()">Contests</h1>
        </div>
        <!-- News -->
        <div class="image-group news-image-group no-show" id="card-1">
          <div class="half-image-group">
            <div class="half-image-frame" style="margin-bottom: 5px;">
              <img class="half-image" src="../../../assets/img/ribs.png" alt="BBQ Ribs">
            </div>
            <div class="half-image-frame" style="padding-top: 5px; border-top: 2.5px dashed black;">
              <img class="half-image" style="margin-bottom: -5px; margin-top: 2.5px;" src="../../../assets/img/boat.jpg" alt="Boating Event">
            </div>
          </div>
          <div class="shape"></div>
          <div class="beer-info news-info">
            <p class="main main-width news-width">
              <span class="beer-subtitle">
                News
              </span><br><br>
              <span class="beer-caption uppercase">Bowmanville Ribs'n Brews</span><span class="float-right">June 7-9</span><br>
              <span class="italic">Come out and enjoy some Falcon Beer and extra delicious ribs!</span><br>
              <span class="beer-caption uppercase event-link">
                <a href="https://ajax.snapd.com/events/view/1232452" target="_blank" rel="no-opener">More Info</a>
              </span><br><br>
              <span class="beer-caption uppercase">Faclon Cup Boating Event</span><span class="float-right">Aug. 9-11</span><br>
              <span class="italic">If you enjoy sailing come out for this exciting event in August!</span><br>
              <span class="beer-caption uppercase event-link">
                <a href="https://youtu.be/ZHdGL4keTy4" target="_blank" rel="no-opener">More Info</a>
              </span><br><br>
            </p>
          </div>
        </div>
        <!-- Events -->
        <div class="image-group" id="card-2">
            <div class="image-grid">
                <div class="row">
                  <div class="img-container">
                    <img src="../../../assets/img/social-night.jpg" alt="Social Night" class="grid-img">
                    <div class="img-middle" id="social-middle">
                      <div class="img-text" id="social-night"><strong>Social Night</strong><br>June 8 (8PM)<br><i>Supporting <a href="https://www.childrenswish.ca/" target="_blank" rel="no-opener"><u>Childen's Wish</u></a></i></div>
                    </div>
                  </div>      
                  <div class="img-container">
                    <img src="../../../assets/img/falcon-open-mic.png" alt="Open Mic" class="grid-img">
                    <div class="img-middle">
                      <div class="img-text"><strong>Open Mic</strong><br>May 26</div>
                    </div>
                  </div>
                  <div class="img-container">
                    <img src="../../../assets/img/falcon-cards.png" alt="Euchre Night" class="grid-img">
                    <div class="img-middle">
                      <div class="img-text"><strong>Euchre Night</strong><br>May 29</div>
                    </div>
                  </div>                 
                </div>
                <div class="row">
                  <div class="img-container">
                    <img src="../../../assets/img/spring-market.jpg" alt="Spring Market" class="grid-img">
                    <div class="img-middle">
                      <div class="img-text"><strong>Spring Market</strong><br>May 25 (11 - 4)</div>
                    </div>
                  </div>      
                  <div class="img-container">
                    <img src="../../../assets/img/kitchen-party.jpg" alt="Kitchen Party" class="grid-img">
                    <div class="img-middle">
                      <div class="img-text"><strong>Kitchen Party</strong><br>June 1 (5 - 9)</div>
                    </div>
                  </div>
                  <div class="img-container">
                    <img src="../../../assets/img/falcon-trivia.png" alt="Trivia Night" class="grid-img">
                    <div class="img-middle">
                      <div class="img-text"><strong>Trivia Night</strong><br>June 4</div>
                    </div>
                  </div>
                </div>
              </div>
          <div class="shape"></div>
          <div class="beer-info">
            <p class="main main-width main-events">
              <!-- <span class="beer-subtitle">
                Events
              </span><br><br> -->
              <span class="beer-caption uppercase">Social Night</span><br>
              <span>Charity event featuring silent auction and performance by Altona Road Gang. </span><br><br>
              <span class="beer-caption uppercase">Open Mic</span><br>
              <span>Come in, enjoy a beer, and get up in front of our patrons to show off your talent on stage! 
              </span><br><br>
              <span class="beer-caption uppercase">Euchre Night</span><br>
              <span>Keep your emotions in check as you battle to the last card with a group of equally competitive strangers.</span><br><br>
              <span class="beer-caption uppercase">Spring Market</span><br>
              <span>A traditional market featuring local artisans.</span><br><br>
              <span class="beer-caption uppercase">Kitchen Party</span><br>
              <span>Come and enjoy great food and live music!</span><br><br>
              <span class="beer-caption uppercase">Trivia Night</span><br>
              <span>Come out and test your skills at world trivia. You may enter solo, or bring a group of up to 4. And please, DON’T USE YOUR PHONE!</span><br>

            </p>
          </div>
        </div>
        <!-- Live Music -->
        <div class="image-group no-show" id="card-3">
          <div class="image-grid">
            <div class="row row-column">
              <div class="img-container">
                <img src="../../../assets/img/drums.jpg" alt="Drums" class="grid-img">
                <div class="img-middle img-middle-music-2">
                  <div class="img-text img-text-pad"><strong>Blackstock Magee</strong><br>April 5</div>
                </div>
              </div>
              <div class="img-container">
                <img src="../../../assets/img/guitar.jpg" alt="Electric Guitar" class="grid-img">
                <div class="img-middle img-middle-music">
                  <div class="img-text img-text-pad"><strong>Dezz Asante</strong><br>April 12</div>
                </div>
              </div>
              <div class="img-container">
                <img src="../../../assets/img/drums.jpg" alt="Drums" class="grid-img">
                <div class="img-middle img-middle-music">
                  <div class="img-text img-text-pad"><strong>Geordy Craig</strong><br>April 19</div>
                </div>
              </div>                 
            </div>
            <div class="row row-column">
              <div class="img-container">
                <img src="../../../assets/img/guitar.jpg" alt="Electric Guitar" class="grid-img">
                <div class="img-middle img-middle-music-3">
                  <div class="img-text img-text-pad"><strong>Augy G</strong><br>April 26</div>
                </div>
              </div>
              <div class="img-container">
                <img src="../../../assets/img/drums.jpg" alt="Drums" class="grid-img">
                <div class="img-middle img-middle-music">
                  <div class="img-text img-text-pad"><strong>Mike & Don</strong><br>May 3</div>
                </div>
              </div>
              <div class="img-container">
                <img src="../../../assets/img/guitar.jpg" alt="Electric Guitar" class="grid-img">
                <div class="img-middle img-middle-music">
                  <div class="img-text img-text-pad"><strong>Cece Pastor</strong><br>May 10</div>
                </div>
              </div>
            </div>
          </div>
          <div class="shape"></div>
          <div class="beer-info">
            <p class="main main-width main-music">
              <span class="beer-subtitle">
                Live Music
              </span><br><br>
              <span class="beer-caption">Blackstock Magee</span><span class="float-right">April 5</span><br>
              <span class="beer-caption">Dezz Asante</span><span class="float-right">April 12</span><br>
              <span class="beer-caption">Geordy Craig</span><span class="float-right">April 19</span><br>
              <span class="beer-caption">Augy G</span><span class="float-right">April 26</span><br>
              <span class="beer-caption">Mike & Don</span><span class="float-right">May 3</span><br>
              <span class="beer-caption">Cece Pastor</span><span class="float-right">May 10</span><br><br>
              <span class="beer-subtitle">
                Contact
              </span><br>
              <span class="beer-caption uppercase"><br>RUSS BLAKELY<br>Entertainment Director</span><br>
              <span class="bold"><span class="underline"><a href="mailto:russblakely@rogers.com" target="_blank" rel="noopener">russblakely@rogers.com</a></span><br>905 903 3064</span>
            </p>
          </div>
        </div>
        <!-- Calendar -->
        <!-- <div class="image-group" id="card-4">
          <div class="iframe-container">
            <img src="../../../assets/img/google.png" alt="Google Logo" class="google-logo">
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=d0mtc72u894i50jrl65d1b58mg%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FToronto" style="border:0; position:absolute; top:0; left:0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
          </div>
          <div class="shape"></div>
          <div class="beer-info">
            <p class="main main-width">
              <span class="beer-subtitle">
                Calendar
              </span><br><br>
              Add the Falcon Brewing Calendar to your Google Calendar and never miss out on our exciting events!<br>
            </p>
          </div>
        </div> -->

        <!-- Contests -->
        <div class="image-group no-show" id="card-4">
          <div class="beer-image contest-image">
            <img class="image" src="../../../assets/img/falcon-brewing-11.jpg" alt="Exterior of the Falcon Ajax Brewery">
          </div>
          <div class="shape"></div>
          <div class="shape-2"></div>
          <div class="beer-info contest-events">
            <p class="main main-width">
              <span class="beer-subtitle">
                Contests
              </span><br><br>
              Coming soon!<br><br>
              Check back regularly for your chance to win various prizes.<br><br>
              Congrats to all the Leaf Ticket winners this year! And good luck next year to the rest of Leaf’s Nation!<br>
            </p>
          </div>
        </div>

        <!-- Content Group  -->
      </div>
    </section>
  </article>
  
<!-- Wrapper -->
</div>