.events-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(66, 43, 43);
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.2rem;
}

/* Standard */
section {
  margin-top: 50px;
}

a {
  color: #BF1E2E;
}

a:hover {
  color: rgb(151, 12, 26);
}

h1 {
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.page-title {
  top: -10px;
  position: absolute;
}

.right { 
  right: 20px;
  cursor: pointer;
}

.beer-list {
  margin-top: 22vh;
  width: 200px;
}

.beer-title { 
  font-size: 1.5rem;
  background-color: rgba(0,0,0,.5);
  padding: 20px;
  width: 100%;
  cursor: pointer;
  transition: .1s ease;
}

.beer-title:hover {
  background-color: rgba(255,255,255,.85);
  color: #BF1E2E;
  text-shadow: none;
  transition: .2s ease;
}

.content-group {
  display: flex;
  flex-direction: row;
}

.main {
  background-color: rgba(0,0,0,1);
  color: white;
  padding: 100px 25px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.2rem;
}

.main-width { 
  width: 20vw;
}

.image-group {
  display: flex;
  align-items: center;
  margin-left: 140px;
  margin-top: 7vh;
}

.shape {
  width: 710px;
  height: 715px;
  border: 10px solid #BF1E2E;
  position: absolute;
  top: 108px;
  right: 300px;
  z-index: -1;
}

.shape-2 {
  display: none;
}

.beer-subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.beer-caption {
  font-weight: bold;
}

.event-link {
  font-size: 1rem;
}

.no-show {
  display: none;
}

.show { 
  display: initial;
}

img {
  height: 70.5vh;
}

.image {
  border: 5px solid rgba(0, 0, 0, 0.85);
  padding: 5px;
}

.half-image-group {
  display: flex;
  flex-direction: column;
  border: 5px solid rgba(0, 0, 0, 0.85);
  padding: 5px;
  width: 50vw;
}

.half-image-frame {
  object-fit: cover;
  overflow: hidden;
}

.half-image {
  overflow: hidden;
  object-fit: cover;
  width: 984px;
  height: 320px;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  padding: 20px;
  border: 10px solid rgba(255, 255, 255, 0.85);
  margin: 10px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.float-right {
  float: right;
  margin-right: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.image-grid {
  margin-top: 0;
  border: 5px solid rgba(0, 0, 0, 0.85);
  padding: 2.5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.red { 
  color: #BF1E2E;
}

.img-container {
  position: relative;
}

.grid-img {
  height: 35vh;
  padding: 2.5px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
}

.img-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .grid-img {
  opacity: 0.8;
}

.img-container:hover .img-middle {
  opacity: 1;
}

.img-text {
  background-color: rgb(0, 0, 0);
  color: white;
  text-transform: uppercase;
  padding: 16px 32px;
  width: 85%;
}

.main-events {
  padding: 25px;
}

.main-music {
  padding: 50px 25px;
}
/* 
.iframe-container {
  position: relative;
  display: block;
  width: 998px;
  height: 656px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(0, 0, 0, 0.85);
}

.google-logo {
  height: 300px;
  width: 300px;
  border: none;
} */

.show-mobile {
  display: none;
}

.show-desktop {
  display: initial;
}

/* ---------- Media Queries ------------ */

/* Monitor - No Bookmarks Bar */
@media screen and (min-width: 1800px) and (min-height: 938px) {
  .shape { height: 740px; }
  .image-group { margin-left: 115px; }
  .half-image-group { width: 53.5vw; }
  .half-image { width: 1030px; height: 331.5px; }
}

/* Monitor - Fullscreen */
@media screen and (min-width: 1800px) and (min-height: 1000px) {
  .image-group { margin-left: 80px; }
  .main-width { width: 17vw; }
  .half-image-group { width: 56.5vw; }
  .half-image { width: 1134px; height: 370.5px; }
  .shape { height: 835px; }
  .news-width { width: 20vw; }
}

/* Laptop - Bookmarks Bar */
@media screen and (max-width: 1800px) {
  .beer-list {
    margin-top: 20vh;
  }
  .beer-title {
    font-size: 1.25rem;
    padding: 15px;
  }
  .image-group {
    margin-left: 60px;
    margin-top: 4vh;
  }
  .main {
    padding: 50px 25px;
    font-size: 1.15rem;
  }
  .main-width {
    width: 23vw;
  }
  .main-events {
    padding: 15px 25px;
    font-size: 1rem;
  }
  .img-middle {
    left: 42.5%;
  }
  .shape {
    top: 75px;
    height: 580px;
  }
  .image-grid {
    margin-top: -3px;
  }
  .main-events {
    width: 23vw;
  }
  .half-image-group {
    width: 50.5vw;
  }
  .half-image {
    height: 256.25px;
  }
  .iframe-container {
    width: 560px;
    height: 350px;
  }
  img { 
    height: 71vh; 
  }
  .contest-image {
    margin-top: -5px;
  }
}

/* Laptop - No Bookmarks Bar */
@media screen and (min-width: 1300px) and (max-width: 1799px) and (min-height: 760px) {
  section { margin-top: 60px; }
  .shape { height: 620px; }
  .main-events { padding: 25px; width: 22vw; }
  .half-image { height: 267.75px; }
  .half-image-group { width: 51.5vw; }
}

/* Laptop - Fullscreen */
@media screen and (min-width: 1300px) and (max-width: 1799px) and (min-height: 800px) {
  section { margin-top: 100px; }
  .main-width { width: 18vw; }
  img { height: 65vh; }
  .grid-img { height: 32vh; }
  .shape { top: 108px; height: 670px; }
  .main-events { padding: 15px 25px; }
  .half-image { height: 279px; }
  .half-image-group { width: 54.5vw; }
}

/* Laptop - 1366 x 768 - Bookmarks Bar */
@media screen and (width: 1366px) {
  .image-group { margin-top: 0; margin-left: 75px; }
  #card-3, #card-4 { margin-top: 28px; }
  .beer-list { margin-top: 15vh; }
  .half-image-group { width: 45.5vw; }
  .half-image { width: 632px; height: 230px; }
  .grid-img{ height: 33vh; }
  .main-events { font-size: .95rem; }
  .main-music { padding: 15px 25px; }
  .contest-events .main-width { width: 18vw; }
  .shape { top: 129px; height: 375px; width: 610px; right: 500px; }
}

/* Laptop - 1366 x 768 - No Bookmarks Bar */
@media screen and (width: 1366px) and (min-height: 720px) {
}

/* Laptop - 1366 x 768 - Fullscreen */
@media screen and (width: 1366px) and (min-height: 759px) {
  .image-group { margin-top: 60px; }
  #card-3 { margin-top: 95px; }
  #card-4 { margin-top: 74px; }
  .beer-list { margin-top: 20vh; }
  .grid-img{ height: 30vh; }
  .half-image-group { width: 50.5vw; }
  .half-image { width: 693px; height: 256px; }
  .main-music { padding: 25px 19px; }
  .shape { top: 105px; height: 446px; }
  img { height: 66vh; }
}

/* iPad - Horizontal */
@media screen and (min-width: 900px) and (max-width: 1025px) {
  section { margin-top: 30px; }
  .img-container .grid-img { opacity: 0.8; }
  .img-container .img-middle { opacity: 1; }
  img { height: 84.65vh; }
  article { 
    margin: 0; 
    padding: 10px; 
    border: 0px solid rgba(255, 255, 255, 0.85); 
    min-height: 100vh;
    height: fit-content;
  }
  .page-title { 
    top: -30px; 
    position: fixed; 
    z-index: 10; 
    left: 0px;   
    background-color: rgba(233, 12, 34, 0.85);
    padding: 10px 10px 5.1px 60px;
    position: fixed;
    width: 100%;
  }
  .image-group { 
    flex-direction: column;
    margin-left: 450px; 
    position: absolute;
    top: 110px;
    padding-right: 10px;
    z-index: -1;
  }
  .beer-list {
    display: flex; 
    flex-direction: row;
    width: 100%; 
    margin-top: 10px; 
  }
  .beer-title {
    margin-right: 10px; 
  }
  .beer-info { margin-left: -450px; }
  .show-mobile { display: none; }
  .menu-group { margin-left: -450px; margin-top: 30px; }
  .menu { font-size: .9rem; }
  .main-width { width: 91.75vw; }
  .half-image-group { width: 95vw; }
  .image-grid { margin-left: -449px; margin-top: 0;  }
  .grid-img { height: 41.75vh; }
  .news-image-group { margin-left: 0; }
  .shape { height: 800px; }
  .news-info { margin-left: 0; }
  .contest-events { margin-left: -450px; margin-top: -7px; }
  .contest-image { margin-left: -450px; }
}

/* iPad */
@media screen and (max-width: 769px) and (min-width: 601px) {
  .show-desktop { display: initial; }
  .img-container .grid-img { opacity: 0.8; }
  .img-container .img-middle { opacity: 1; }
  img { height: 46.75vh; }
  article { 
    margin: 0; 
    padding: 10px; 
    border: 0px solid rgba(255, 255, 255, 0.85); 
    min-height: 100vh;
    height: fit-content;
  }
  .page-title { 
    top: -30px; 
    position: fixed; 
    z-index: 10; 
    left: 0px;   
    background-color: rgba(233, 12, 34, 0.85);
    padding: 10px 10px 5.1px 60px;
    position: fixed;
    width: 100%;
  }
  .image-group { 
    flex-direction: column;
    margin-left: 450px; 
    position: absolute;
    top: 100px;
    padding-right: 10px;
    z-index: -1;
  }
  .beer-list {
    display: flex; 
    flex-direction: row;
    width: 100%; 
    margin-top: -10px; 
  }
  .beer-title {
    margin-right: 10px; 
  }
  .show-mobile { display: none; }
  .menu-group { margin-left: -450px; margin-top: 30px; }
  .menu { font-size: .9rem; }
  .main-width { width: 89.5vw; }
  .beer-info { margin-left: -449.5px; }
  .image-grid { margin-left: -449px; margin-top: 0;  }
  .grid-img { height: 23vh; }
  .news-image-group { margin-left: 0; }
  .news-info { margin-left: 0; }
  .contest-events { margin-left: -450px; margin-top: -7px; }
  .contest-image { margin-left: -450px; }
  .half-image-group { width: 93.5vw; }
}

/* Galaxy */
@media screen and (max-width: 600px) {
  section { margin-top: 55px; }
  .content-group { display: block; }
  .main { margin-top: 5px; font-size: 1rem; margin-bottom: 10px; padding: 25px; }
  .main-width { width: auto; }
  .mobile-margin-bottom { margin-bottom: 0; }
  .show-desktop { display: none; }
  .show-mobile { display: initial; }
  .shape { display: none; }
  .desktop-img { display: none; }
  .mobile-img { display: initial; }
  img { width: 95%; height: auto; }
  .image-grid { display: flex; margin-left: unset; }
  .grid-img { height: auto; width: 97%; }
  .row { flex-direction: column-reverse; }
  .row-column { flex-direction: column; }
  .page-title { top: -30px; position: fixed; z-index: 10; }
  .beer-list { width: auto; left: unset; top: 0; position: relative; transition: .3s ease; }
  .beer-list-hide { left: -600px !important; transition: .3s ease; }
  .beer-list-mobile { margin-top: -5px; display: flex; flex-direction: row; }
  .beer-title { 
    width: 92.5%; 
    margin: 0; 
    background-color: rgba(0, 0, 0, 0.85); 
    padding: 12px 15px; 
  }
  h1 { 
    top: -30px; 
    left: 0px;   
    background-color: rgba(233, 12, 34, 0.85);
    padding: 10px 10px 5.1px 60px;
    width: 100%;
  }
  article { 
    margin: 0; 
    padding: 10px; 
    border: 0; 
    min-height: 97vh;
    height: fit-content;
  }
  .shape-2 {
    width: 200px;
    height: 450px;
    border: 10px dashed #BF1E2E;
    position: absolute;
    top: 163px;
    left: -22px;
    z-index: -1;
    display: initial;
  }
  .title-alt {
    background-color: rgba(255,255,255,.85);
    color: #BF1E2E;
    text-shadow: none;
  }
   .title-alt:hover {
    text-decoration: underline;
    transition: .2s ease;
  }
   .icon { 
    height: 15px; 
    color: black; 
    position: relative; 
    left: -30px; 
    margin-right: -30px;
    font-size: 2rem; 
  }
  .image-group { 
    flex-direction: column; 
    margin-left: 0; 
    position: absolute;
    top: 95px;
    padding-right: 10px;
    z-index: -1;
  }
  .img-text {
    width: 66%; 
    background-color: rgba(0,0,0,.5);
    font-size: 1rem; 
    padding: 16px;
  }
  #social-night { width: 90%; }
  #social-middle { left: 44%; }
  .img-text-pad { padding: 16px 26px; }
  .img-middle { opacity: 1; left: 50%; }
  .img-middle-music { left: 46%; }
  .img-middle-music-2 { left: 50%; }
  .img-middle-music-3 { left: 45%; }
  .main-music { width: 83vw; }
  .half-image { width: 100%; }
  .half-image-group { width: 90.25vw; }
  .news-image-group { top: 90px; }
  .contest-events { margin-top: -5px; }
  /* .iframe-container {
    margin-top: -10px;
    height: 300px;
    width: 350px;
  }
  .google-logo {
    height: 200px;
    width: 200px;
  } */
}

/* Galaxy - Horizontal */
@media screen and (max-width: 850px) and (max-height: 500px) {
  .shape { width: 315px; top: 32px; }
  h1 { 
    left: 0px;   
    background-color: rgba(233, 12, 34, 0.85);
    padding: 10px 10px 5.1px 60px;
    position: fixed;
    width: 100%;
  }
  article { 
    margin: 0; 
    padding: 10px; 
    border: 0px solid rgba(255, 255, 255, 0.85); 
    min-height: 100vh;
    height: fit-content;
  }
  img { height: 101vh; width: auto; }
  .image-group { 
    flex-direction: column; 
    margin-left: 200px; 
    position: absolute;
    top: 67px;
    padding-right: 10px;
    z-index: -1;
  }
  .main { width: 65.85vw; font-size: 1rem; padding: 25px; }
  .page-title { top: -30px; position: fixed; z-index: 10; }
  .beer-info { display: flex; justify-content: center; margin-top: -8px; }
  .beer-list { position: absolute; top: 50px; left: 15px; display: flex; flex-direction: column; }
  .beer-title { width: 67%; position: relative; left: unset; padding: 15px; font-size: 1.1rem; margin-bottom: 0; }
  #social-night { width: 90%; }
  #social-middle { left: 44%; }
  .half-image-group { width: 69.5vw; }
  .news-width { width: 66vw; }
  .grid-img { height: 46.5vh; }
  .img-text { width: 110%; padding: 16px; }
  .img-middle { left: 39%; opacity: 1; font-size: .9rem; }
  .img-middle-music-2 { left: 47%; }
  .img-middle-music-3 { left: 42%; }

}

/* iPhone X */
@media screen and (max-width: 376px) {
  .main-music { width: 81.25vw; }
  .half-image-group { width: 89vw; }
  .beer-title { width: 91.2%; }
  .image { width: 94%; }
  .grid-img { width: 20.25vh; }
  .main-width { width: 81vw; }
}

/* iPhone 6/7/8 */
@media screen and (max-width: 376px) and (max-height: 668px) {
  .image-group { top: 100px; }
  .shape-2 { height: 425px; top: 90px; left: -21px; }
  .grid-img { width: 24.7vh; }
  .news-image-group { top: 95px; }
  .contest-image { margin-top: -2px; }
}

/* iPhone 6/7/8 - Horizontal */
@media screen and (max-width: 668px) and (max-height: 376px) {

}